@media only screen and (max-width: 480px){
  .logo, .logo img, span, nav{
    display: none;
  }
  .icons{
    width: 100%;
    height: 32px;
    display: inline-flex;
    align-items: center;
    margin:auto;
    justify-content: space-around;
  }
  .banner{
    display:flex;
    flex-direction: column;
  }
  .learn{
    width: 100%;
  }
  .start{
    width: auto;
  }
  .start h1{
    font-size: 54px;
  }
  .main{
    display: none;
  }
  .highlights{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .info img{
    width: 100%;
  }

}
