@media only screen and (max-width: 480px){
  .logo span, nav{
    display: none;
  }
  .icons{
    height: 32px;
    display: inline-flex;
    align-items: center;
    margin:auto;
    justify-content: space-around;
  }
  .banner{
    display:flex;
    flex-direction: column;
  }
  .learn{
    width: 100%;
  }
  .start{
    width: 100%;
  }
  .main{
    display: none;
  }
  .highlights{
    width: 100%;
  }
  .info{
    display: flex;
    flex-direction: column;
  }

}
