html{
  font-family: Roboto;
  font-size: 18px;
  color:black;
  background-color: white;
}

header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo{
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.logo img{
  height: 32px;
}
.grey{
  color: grey;
}
nav ul{
  font-weight:300;
  display:flex;
  padding-right:16px;
}
li{
  padding: 0 8px;
}
.banner{
  display: flex;
  align-items: center;
  background-color: lightgray;
}
.learn img, .main img{
  width: 854px;
  padding: 32px 24px;
}
.start{
  width: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 48px;
  line-height: 1.2;
}
.start h1{
  font-weight: 900;
  font-size:54px;
}
.start h3{
  margin: 32px 0;
  font-size:36px;
}
.start h5{
  color: white;
  width: inherit;
  padding: 8px 0;
  text-align: center;
  background-color: dimgray;
}
.about{
  display: flex;
  padding-bottom: 32px;
}
.highlights{
  width: 569px;
  padding-top: 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
h2{
  font-weight: 900;
  font-size: 42px;
  padding-left: 24px;
  padding-bottom: 24px;
}
p{
  width: 854px;
  letter-spacing: 1px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}
h6{
  font-size: 14px;
  padding-left: 24px;
  padding-top: 32px;
}
.info img, .ongoing-exhibit img{
  width: 199.15px;
  padding: 16px 16px;
}
.info, .ongoing-exhibit{
  display: inline-flex;
  align-items: center;
}
.details h3, .ongoing-exhibit h3{
  font-size: 27px;
  padding: 4px 0;
}
.info h5, .ongoing-exhibit h5{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  padding: 4px 0;
}
.read{
  color: dodgerblue;
}
.learning{
  background-color: whitesmoke;
}
.learning h2, .thesis h2{
  text-align: center;
  padding: 32px 0;
}
.courses{
  display: inline-block;
  width: 1423.33px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 32px;
}
.choices{
  width: 30%;
  display: inline-block;
}
.course h3{
  font-size: 36px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.course{
  background-color: white;
}
h4{
  font-size: 27px;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.exhibit{
  display: flex;
}
.urban{
  padding-bottom: 32px;
}
.urban h3{
  font-size: 36px;
  padding-top: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.urban p, video{
  padding-left: 24px;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span{
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  font-size: 16px;
  font-weight: 300;
}
.footer{
  padding-left: 24px;
}
