@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v18/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html{
  font-family: Roboto;
  font-size: 18px;
  color:black;
  background-color: white;
}

header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo{
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.logo img{
  height: 32px;
}
.grey{
  color: grey;
}
nav ul{
  display:flex;
  padding-right:16px;
}
li{
  padding: 0 8px;
}
.banner{
  display: flex;
  align-items: center;
  background-color: lightgray;
}
.learn img, .about img{
  width: 854px;
  padding: 32px 24px;
}
.start{
  width: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 48px;
  line-height: 1.2;
}
h1{
  font-size:63px;
}
h3{
  margin: 32px 0;
  font-size:36px;
}
.start h5{
  width: inherit;
  padding: 8px 0;
  text-align: center;
  background-color: dimgray;
}
.about{
  display: flex;
  padding-bottom: 32px;
}
.highlights{
  width: 569px;
  padding-top: 16px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
}
h2{
  font-size: 42px;
  padding-left: 24px;
  padding-bottom: 24px;
}
p{
  width: 854px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  line-height: 1.4;
}
h6{
  font-size: 14px;
  padding-left: 24px;
  padding-top: 32px;
}
.orientation img, .campus img, .guest img{
  width: 199.15px;
  padding: 16px 16px;
}
.orientation, .campus, .guest{
  width: 369.85px;
  display: flex;
  align-items: center;
}
.learning{
  background-color: whitesmoke;
}
.learning h2{
  text-align: center;
  padding: 32px 0;
}
.courses{
  width: 1423.33px;
  padding: 0 40px;
}
.software{
  padding: 0 32px;
}
.software h3{
  padding-top: 16px;
  padding-bottom: 16px;
}
